[submodule "expert-system/libs/imgui"]
	path = expert-system/libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "expert-system/libs/glfw"]
	path = expert-system/libs/glfw
	url = https://github.com/glfw/glfw
